/L5/shlab-handout/mysplit
/L5/shlab-handout/myint
/L5/shlab-handout/myspin
/L5/shlab-handout/mystop
/L5/shlab-handout/tsh
/.idea/
L7/proxylab-handout/tiny/csapp.o
L7/proxylab-handout/tiny/tiny
L7/proxylab-handout/tiny/cgi-bin/adder
L7/proxylab-handout/csapp.o
L7/proxylab-handout/proxy.o
L7/proxylab-handout/proxy
.vscode/launch.json
